* {
    box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: 'Lato', 'Alegreya Sans', sans-serif;
  background: #002834;
  color: #cce5dd;
}


#container {
  opacity: 1;
  transition: 0.1s ease opacity;
}

#container[v-cloak] {
  opacity: 0;
}

a {
  color: #28b0b1;
  border: thin solid transparent;
}

.current_feed a, .feeds a {
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
  cursor: pointer;
  margin-right: 1em;
}

a:hover {
  border-color: #28b0b1;
}

a:focus {
  text-decoration: underline;
}

#container > .right {
  overflow-y: auto;
}

#container > .right {
  width: 50vw;
  height: 100vh;
  box-sizing: border-box;
  position: absolute;
  padding: 1em;
  display: block;
  right: 0;
  font-size: 16px;
  line-height: 1.25;
}

h1, h2, h3, h4, h5, h6 {
  border-bottom: 3px #28b0b1 double;
}

#container > *, #container > .left > * {
    transition: width 2s ease;
}

.article-container {
    width: 30em;
    margin: auto;
}

#container > .left {
  border-right: 4px #28b0b1 double;
  box-shadow: 0px 0px 1em #28b0b1;
  width: 50vw;
  height: 100vh;
  overflow: hidden;
  box-sizing: border-box;
  position: absolute;
  display: block;
  left: 0;
}


#container > .right img {
    max-width: 95%;
    height: auto;
  display: block;
  margin: auto;
}

.current_feed, .feeds {
    overflow-x: hidden;
    overflow-y: scroll;
}

.current_feed {
    height: 100vh;
    width: 25vw;
    float: right;
}

.feeds {
    height: 100vh;
    width: 24vw;
    float: left;
    padding: 1em;
    border-bottom: 5px #28b0b1 double;
    box-shadow: 0px 0px 1em #28b0b1;
}

.feeds .title, .feeds .url {
    white-space: nowrap;
}

.feeds .title {
    font-size: 120%;
}

.feeds .url {
    font-size: 75%;
    padding-left: 2.5em;
    margin-bottom: 0.5em;
}

.collapsed {
    width: 0vw !important;
    overflow: hidden;
}

.collapsed > * {
    width: 0vw !important;
    overflow: hidden;
}

.collapsed + * {
    width: 100vw !important;
    padding-left: 25vw;
    padding-right: 25vw;
}

.collapse-toggle {
    position: fixed;
}


.code, code, pre {
    white-space: pre;
    background: black;
    padding: 1em;
    border: medium ridge;
    font-family: monospace;
    font-size: 10px;
}

.code .code, code code, pre pre,
.code pre, code .code, pre code,
.code code, code pre, pre .code,
{
    background: transparent;
    padding: 0;
    border: none;
}
