* {
    box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: 'Lato', 'Alegreya Sans', sans-serif;
  background: #002834;
  color: #cce5dd;
}


#container {
  opacity: 1;
  transition: 0.1s ease opacity;
}

#container[v-cloak] {
  opacity: 0;
}

a {
  color: #28b0b1;
  border: thin solid transparent;
}

.current_feed a, .feeds a {
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
  cursor: pointer;
  /*width: 100%;*/
  margin-right: 1em;
  /*text-shadow: 0em 0em 0.1em #000*/
  /*,            0em 0em 0.2em #888;*/
}

a:hover {
  border-color: #28b0b1;
}

a:focus {
  text-decoration: underline;
}

.right {
  overflow-y: auto;
}

.right {
  width: 50vw;
  height: 100vh;
  box-sizing: border-box;
  position: absolute;
  padding: 1em;
  display: block;
  right: 0;
  font-size: 16px;
  line-height: 1.25;
  /*text-shadow: 0 0 0.1em #333, 0 0 0.2em #cce5dd;*/
}

h1, h2, h3, h4, h5, h6 {
  border-bottom: 3px #28b0b1 double;
}

.left {
  border-right: 4px #28b0b1 double;
  box-shadow: 0px 0px 1em #28b0b1;
  width: 50vw;
  height: 100vh;
  overflow: hidden;
  box-sizing: border-box;
  position: absolute;
  display: block;
  left: 0;
}


.right img {
  max-width: 50vw;
  display: block;
  margin: auto;
}

.current_feed, .feeds {
    overflow-x: hidden;
    overflow-y: scroll;
}

.current_feed {
    height: 100vh;
    width: 25vw;
    float: right;
}

.feeds {
    height: 100vh;
    width: 24vw;
    float: left;
    padding: 1em;
    border-bottom: 5px #28b0b1 double;
    box-shadow: 0px 0px 1em #28b0b1;
}

.feeds .title, .feeds .url {
    white-space: nowrap;
}

.feeds .title {
    font-size: 120%;
}

.feeds .url {
    font-size: 75%;
    padding-left: 2.5em;
    margin-bottom: 0.5em;
}
